[2016-08-08 20:20] MrEmelianenko commented on #727
Yeap, good idea! We could create rake task `rake draper:install` to create this file automatically.

[2016-08-08 20:32] francirp commented on #727
Yeah exactly. Happy to take a first punch at a PR for this if it's something the team wants to pursue. Who makes decisions like this on the Draper team? @seanlinsley what are your thoughts on the subject?

[2016-08-31 11:27] angelfan opened #757 "use delegate_all may call method that not expected"
[code]

I found when `Object` have instance method `message`
and Order also have instance method `message`
in this condition
`OrderDecorator` will call `Object#message` instead of  `Order#message`

[2016-09-02 18:05] roalcantara opened #758 ""Reapplying foo decorator to target that is already decorated with it." warning?"
Sorry folks, I've pressed enter accidentally without finish it. 😅

_Environment:_
- Rails 5.0.0
- draper 2.1.0
- activemodel-serializers-xml: rails/activemodel-serializers-xml

First of all, thank you so much for this great gem.

I don't really know if this is a bug. It's definitely a question, tho.

I've installed the gem, followed the installation instructions in the README file, creating the de

[2016-09-02 18:34] roalcantara commented on #758
I'm observing the same behavior using the `3.0.0.pre1` version.

[2016-09-19 13:31] nhoffmann opened #760 "decorates_association :scope option should allow for multiple scopes"
If I understand it correctly, you can only pass one `scope` to `decorates_association` currently.
It would be nice if the `scope` option would accept an array of scopes.

I would be happy to supply  a PR if this is something that other people want.
If there is already a way how this can be done, please let me know 😃

[2016-09-21 17:13] novikserg commented on #760
@nhoffmann there is a `decorates_association` method that does exactly what you need:
https://github.com/drapergem/draper/blob/b2f9f085556771603104243e69d3992faf4b8af6/lib/draper/decorator.rb#L124

[2016-09-22 17:12] JohnSmall commented on #681
How come this is tagged as Closed and Merged when it very clearly isn't?

I've just created a new Rails 5 project and get this exact error.

[2016-09-29 18:28] kyledecot commented on #681
My team is also receiving this error on various projects when attempting to move to Rails 5. Any progress on getting this fixed (without monkey patching)?

[2016-10-03 13:40] Mohit-Pawar commented on #757
Hi @angelfan, I was not able to reproduce the issue. OrderDecorator called Order#message not Object#message. could you please share ApplicationDecorator code. When your decorator calls delegate_all, any method called on the decorator not defined in the decorator itself will be delegated to the decorated object. I don't think this is an issue

[2016-10-10 19:02] danielricecodes commented on #681
@JohnSmall @kyledecot - same.  Brand new Rails 5 project and just `gem 'draper'` in Gemfile.  Using the fork seemed to work though.

[2016-10-11 03:35] asiniy commented on #681
Guys, feel free to switch to the `gem 'drape'`. It's a draper designed for rails 5.

[2016-10-11 08:29] dmitry commented on #681
@asiniy do you mean https://github.com/MrEmelianenko/drape? It's not developed for the last 5 months, how can anyone be sure it will be maintained in the future?

[2016-10-25 14:26] McRip commented on #742
@MrEmelianenko, @seanlinsley: Is anybody of you still working on Draper or Drape?

[2016-11-02 02:51] steakknife commented on #755
@hgani
[code]
For security, since bundler 1.x is insecure by default:

[code]

[2016-11-08 02:15] fcostabr78 commented on #697
great!

[2016-12-02 09:07] MrShemek opened #767 "Draper::UninferrableDecoratorError while decorating Delayed::Job"
I just tried to decorate Delayed::Job but unfortunately it does not work.

My environment:
- Rails 5.0.0.1
- draper 3.0.0.pre1
- delayed_job 4.1.2
- delayed_job_active_record 4.1.1

My code:

`decorators/delayed/job_decorator.rb`
[code]

`Admin::DiagnosticsController#index`
[code]

The error:

[code]

[2016-12-02 21:24] anlek commented on #701
@sintro this might be way too late for you but maybe this is what you're looking for: https://github.com/GoodMeasuresLLC/draper-cancancan?

[2016-12-03 19:03] anlek commented on #701
I've added a note to `draper-cancan` to say it's no longer recommended.

[2016-12-06 15:55] fbatista commented on #755
Could we get this merged ? It breaks when a decorator is loaded in the context of a background worker, for example taking care of email etc.

[2016-12-21 13:39] himdel commented on #661
Yeah, no, what happens when you need to decorate an already existing record.

Suddenly `@record.decorate.icon` becomes something like `"#{@record.class}Decorator".constantize.new?(@record).icon`.

To me, being able to call `decorate` on ActiveRecord instances without actually knowing or caring what they are is the single useful thing about decorators, so please let's keep that working :).

[2016-12-27 07:06] rafaelsales commented on #681
omg, that's lame.

[2016-12-27 07:08] rafaelsales opened #770 "Almost 6 months since the last commit in 3.0.0-pre1"
Isn't time to release?

[2016-12-31 11:23] fxn opened #771 "Name clash with private methods"
I solved a weird bug this week in an application. Draper was working correctly, but this application hit what could be a gotcha in `delegate_all`. I open this issue to explain it, and to ask if you'd like me to volunteer a doc patch. Let me explain.

The situation was:

[code]

The symptom was that you deployed, everything was fine, and after some minutes

[code]

crashed with a `NoMethodError`, s

[2017-01-03 14:19] fxn commented on #771
Alternatively, if delegating to a method that clashes with an existing one in the decorator, perhaps you could raise. But gauging whether that is a good idea is more difficult for me, would need to have more perspective about usage of Draper out there. You are in a better position to choose.

[2017-01-04 15:00] caseyprovost opened #772 "Abadoned?"
Haven't seen any traction here for 6 months now and our Rails 5 peeps are left to monkey patches, forking, or transitioning to other gems. Do you ya'll need help maintaining this?

[2017-01-09 21:50] Deekor commented on #772
Trying to update our app from Rails 4.2.5 to 5.0.1 and running into an issue here is as well. What workarounds do you know of @caseyprovost ?

[2017-01-09 22:34] caseyprovost commented on #772
@Deekor to be honest I am using this fork:

[code]

If this isn't fixed soon though we will likely remove it from the app in favor of ActiveModel serializers for API stuff and plain ol' ruby objects for simple decoration.

[2017-01-09 23:50] Deekor commented on #772
@caseyprovost Interesting I'll look into it.

Getting the latest version via:

    gem 'draper', "3.0.0.pre1"

Seems to have fixed my issues for now.

[2017-01-11 01:57] vill opened #773 "NameError: uninitialized constant for Rails 5"
Hi there.

[code]

`app/models/client/company/deal.rb`
[code]

`app/decorators/client/company/deal_decorator.rb`
[code]
For `Client::Company::Deal.all.decorate` or `Client::Company::DealDecorator.decorate_collection(Client::Company::Deal.all)` I am getting the following error in the production environment:
[code]
This error occurs when the following settings:
[code]
Everything works fine if I set

[2017-01-11 10:50] HermannHH commented on #773
@vill I'm experiencing this exact same issue. My application works fine in development but fails when deployed to Heroku. I posted a S/O question [http://stackoverflow.com/questions/41583880/error-in-heroku-when-using-rails-5-and-draper-namespace](here). Hopefully someone knows how to fix this. I've tried numerous different solutions.

[2017-01-11 11:53] vill commented on #773
@HermannHH, I fix this error so:
[code]

[2017-01-12 00:14] keithmattix commented on #681
Still no solution for this? `drape` hasn't been updated in 8 months...

[2017-01-12 09:19] dmitry commented on #681
Checkout https://github.com/drapergem/draper/issues/772

[2017-01-15 20:58] seanlinsley commented on #772
It's not abandoned. If anyone is interesting in becoming a maintainer please let me know.

[2017-01-15 20:58] #772 closed

[2017-01-15 21:25] seanlinsley commented on #767
It may just be the nested namespace that's causing the issue. Can you reproduce with simple Ruby classes?

[2017-01-15 21:33] seanlinsley commented on #755
@fbatista no one actually opened a PR. Feel free to do that yourself.

[2017-01-15 21:33] #756 closed

[2017-01-15 21:35] seanlinsley commented on #770
There are a number of bugs in that release, namely #681 and #755. I'd also like to resolve #753.

[2017-01-15 21:35] #770 closed

[2017-01-15 21:37] #701 closed

[2017-01-15 21:41] seanlinsley commented on #771
I think it'd make sense to raise an error.

[2017-01-15 21:44] #757 closed

[2017-01-15 21:44] seanlinsley commented on #760
👍 feel free to submit a PR

[2017-01-15 21:46] seanlinsley commented on #727
👍 sounds like a good idea

[2017-01-15 21:47] seanlinsley commented on #681
Could someone please open a PR?

[2017-01-16 10:50] hgani commented on #755
Someone has made a pull request to address the same issue here: https://github.com/drapergem/draper/pull/763

[2017-01-16 12:33] McRip commented on #755
i just rebased it.

[2017-01-16 22:18] hgani commented on #755
Good job. Thanks @McRip

[2017-01-24 13:29] marceloboeira opened #775 "Error Rails 5 + Mongoid"
I have a project running rails 5 and mongoid, after adding draper to the gemfile I get:

`/Users/.../2.3.0/gems/draper-2.1.0/lib/draper.rb:5:in 'require': cannot load such file -- active_model/serializers/xml (LoadError)`

[2017-01-26 10:20] plodshooter commented on #681
So, the issue is 1,5 years old and there is still no fix for that? Except the monkey patch and forked repos, of course...

[2017-01-27 15:16] ivanovaleksey commented on #730
`Draper::Decorator` includes `ActiveModel::Serialization` so you can try to use `ActiveModel::Serialization#serializable_hash` method.

Assuming you have `Foo` class and `FooDecorator`:
[code]

[2017-01-29 22:27] marceloboeira commented on #775
Solved by updating to master!

[2017-01-29 22:27] #775 closed

[2017-01-30 10:08] jaspertandy commented on #755
Any ideas when this is going to get merged, or should we keep using hgani's fork in Rails 5?

[2017-02-02 10:52] MatthiasRMS commented on #681
Use:
gem 'draper', "3.0.0.pre1"

Not a fork and not a monkey patch. Seems to be the "best" solution right now.

[2017-02-03 11:23] lunij commented on #109
It seems the solution is not completely I18n compliant.

[code]

If you now want the `ExampleSpecificDecorator` to do something relative like `h.t('.something'`, then the `virtual_path` is resolved using the `ExampleBase` class, instead of the `ExampleSpecific` class.

**Example:** When you are rendering the `show` view of `ExampleSpecific`, the `@virtual_path + key` is resolved to:

_actual:_ `{l

[2017-02-03 14:29] Irostovsky commented on #681
It works with rails 5, thank you @MatthiasRMS

[2017-02-09 05:40] takehiromouri commented on #758
I'm getting this as well with the same symptoms. It seems to happen when I use `render collection`

[2017-02-10 18:20] wilkenm commented on #725
Just spent a few hours dealing with this issue, +1 for getting rid of the 'source' alias now that it's not used internally.

[2017-02-15 20:54] darrinholst commented on #646
I just noticed seeing this as well. @jcasimir sorry for the 2 year old question, but do you remember why this was closed?

[2017-02-16 10:14] ivanovaleksey commented on #668
Seems like this one can be closed.
RSpec generator's template has been updated [here](https://github.com/drapergem/draper/commit/03f969c503ea56d0192ad772c540bf805e28e9e9).

[2017-02-21 15:56] seanlinsley commented on #755
I've merged #763. Can someone confirm it's working as expected?

[2017-02-21 19:05] sanchojaf commented on #681
Hi, same issue with gem 'rails', '~> 5.0.1'

And gem 'draper' is not working for me, I try master, rails5 branch, 3.0.0.pre1

[2017-02-22 07:44] McRip commented on #755
It is working for me.

[2017-02-22 17:42] #667 closed

[2017-02-22 18:08] seanlinsley commented on #646
Given that there isn't a commit or PR linked to this ticket, I suspect it's still an issue.

[2017-02-22 18:12] seanlinsley commented on #755
Thanks for confirming @McRip. Once the other Rails 5 issues are fixed, I'll publish a new Rubygems release.

[2017-02-22 18:12] #755 closed

[2017-02-22 18:12] #668 closed

[2017-02-23 23:06] kbrock opened #777 "release 3.0"
Hello,

We're using Rails 5.0.x.
Draper 3.0.0pre1 supports version 5.0.x of rails. That is what we've been using since August 10, 2016.

Is there a road map to finally releasing draper 3.0? So rails 5.0 developers can point to a non-pre gem?

Thanks

[2017-03-04 02:51] spike886 commented on #773
I had the same problem and solved adding this code to the decorators that have namespaces:
[code]

[2017-03-16 09:55] salomoko commented on #702
## This is how I handled it and it worked like a charm!

**Models**
[code]
**Decorators**
[code]

**Controller usage**
[code]
**Question??** (@Mohit-Pawar, @adsteel)
_Why is it you called `.decorate` on the `@article` prior to accessing the associated posts?? Is the `@article` object not decorated yet?_

[2017-03-19 21:53] varyonic commented on #777
@seanlinsley is looking for new maintainers, anyone?  Everyone else appears to have moved on, ActiveAdmin is the only [dependent project](https://github.com/drapergem/draper/network/dependents) I know of.  @owen2345 at Camaleon CMS?

[2017-03-22 07:31] toshimaru commented on #777
I'm waiting for new version!! Is anyone working for new version release?

[2017-03-23 15:28] codebycliff commented on #777
@varyonic I don't know if I can commit to maintaining full time; however, I'd like to do what I can to help get 3.0.0 released and then go from there.  I'd hate to see such a useful gem die because we failed to provide support for Rails 5.

We have been running 3.0.0.pre1 in production with Rails 5 for several months now without issue. When attempting an upgrade to Rails 5.1, I had to point draper

[2017-03-23 16:27] syguer commented on #777
I want to help as I can 😄

[2017-03-24 14:30] codebycliff commented on #777
Pull request open: https://github.com/drapergem/draper/pull/780

[2017-03-27 19:06] codebycliff opened #783 "Upgrade CodeClimate to engine based analysis"
The Code Climate integration is still using the classic analysis. Code Climate has since rolled out their engine based analysis which has various improvements over the classical analysis.

https://docs.codeclimate.com/v1.0/docs/switching-to-code-climate-platform

In addition to rubocop and other engine support, it would allow for using the Code Climate chrome extension for browsing the results wit

[2017-03-28 18:35] codebycliff opened #784 "Fix indeterminate test causing builds to fail randomly"
There is one test that fails randomly on Travis:

![image](https://cloud.githubusercontent.com/assets/651946/24421211/0b0429e2-13bb-11e7-9462-2c06eaa74c87.png)

There doesn't seem to be any obvious correlation between the failed builds (e.g. ruby version). You can check the various failed builds [here](https://travis-ci.org/drapergem/draper/builds). Just about every single failed build is due to t

[2017-03-28 21:03] varyonic commented on #784
Try [rspec --bisect --seed 22655](http://blog.arkency.com/2016/02/how-rspec-helped-me-with-resolving-random-spec-failures/)?

[2017-03-29 03:46] codebycliff commented on #784
Tried that to no avail. I also tried the above command (`bin/rails test test/decorators/test_unit/helpers_test.rb`), with the seeds from various failed builds. I cannot seem to reproduce this locally at all. This is really hindering productivity and making hard to actually see at a glance which pull requests actually have builds failing. I'm tempting to comment out / skip the test until I can come

[2017-03-29 03:53] codebycliff commented on #698
This should be fixed in master now.

[2017-03-29 03:53] #698 closed

[2017-03-29 03:56] codebycliff commented on #688
The dependencies have since been updated.

[2017-03-29 03:56] #688 closed

[2017-03-29 14:39] varyonic commented on #784
@deivid-rodriguez Thoughts?

[2017-03-29 15:30] codebycliff commented on #725
This is in master now.

[2017-03-29 15:30] #725 closed

[2017-03-29 16:22] deivid-rodriguez commented on #784
@varyonic `rspec --bisect --seed 22655` is exactly what I would have tried. If the failure is not just order dependent but completely flaky then it requires deeper investigation...

@codebycliff If this is blocking other working you are doing and you currently have no time to investigate, I think your approach is right. Skip it with a big TODO and a firm intention of not letting it stagnate there

[2017-03-29 17:05] codebycliff commented on #784
Thanks for your guy's input. I will skip the test for the time being and leave the issue open.

[2017-03-29 17:20] codebycliff commented on #784
Nevermind. Skipping the test that I though was the culprit, just made another test in that suite fail. I'm not sure what to do from here.

[2017-03-29 17:26] varyonic commented on #784
When all else fails `rspec --order defined`

[2017-03-29 17:32] deivid-rodriguez commented on #784
@codebycliff Well, now you have more knowledge about the problem... That's good.

@varyonic As I understand it, this is not order related so running the tests in order might not help. But it's worth a try I guess.

There's something I don't understand though. Draper's tests seem to use RSpec, but the failure looks like Minitest... Does the test suite run the generated application test suite someho

[2017-03-29 17:34] codebycliff commented on #784
Yes, it does from what I understand. The library itself provides test integration with RSpec and Minitest. The dummy application tests both integrations.

[2017-03-29 19:44] codebycliff commented on #681
Is this still an issue in master?

[2017-03-30 19:38] codebycliff commented on #760
@nhoffmann If I'm understanding your request correctly, I believe this is supported through `decorates_associations`. This simply calls `decorate_association` for each association passed in.

I'm going to close this issue for now. If I'm not understanding you correctly, please comment and I'll look at re-opening the issue.

[2017-03-30 19:38] #760 closed

[2017-03-31 03:09] codebycliff commented on #681
I believe this is no longer an issue. Please correct me if I'm wrong and I'll take a look into it.

[2017-03-31 03:09] #681 closed

[2017-03-31 03:54] codebycliff commented on #704
I'm running the latest Draper with Rails 5 in CircleCI with no problem. Draper no longer support Rails 3 / test-unit, which appears to be more of the issue. I also think it's a fair assumption that it's okay to load a libraries test classes when the Rails environment is test.

[2017-03-31 03:54] #704 closed

[2017-03-31 19:25] codebycliff commented on #784
This has been fixed with https://github.com/drapergem/draper/pull/791. It's actually pretty silly what it ended up being.

[2017-03-31 19:25] #784 closed

[2017-03-31 20:16] deivid-rodriguez commented on #784
Fantastic job! :heart_eyes:

It seems pretty bad that tests have to depend so heavily on their description. In RSpec one would use tags for this, but most likely Minitest doesn't support something like that out of the box.

Anyways, again, fantastic job!

[2017-04-02 01:41] #715 closed

[2017-04-02 01:47] codebycliff commented on #705
Thanks for reporting this. This was fixed in https://github.com/drapergem/draper/pull/720.

[2017-04-02 01:47] #705 closed

[2017-04-02 16:57] codebycliff commented on #730
Yes, as mentioned above, you can use `#serializable_hash` to get a Hash from a decorator.

[2017-04-02 16:57] #730 closed

[2017-04-02 17:23] codebycliff commented on #686
This doesn't have anything to do with Draper, but instead with how to write helpers. Something like this should work though:

[code]

There may be a better way to accomplish this, but that will do it.

[2017-04-02 17:23] #686 closed

[2017-04-02 18:37] codebycliff commented on #727
This seems like a good idea. Is anyone still interested in taking a stab at a PR?

[2017-04-03 13:22] codebycliff commented on #753
Support for Rails 5 API-only should be in master as of https://github.com/drapergem/draper/pull/793 being merged.

[2017-04-03 13:22] #753 closed

[2017-04-03 13:57] codebycliff commented on #679
I don't think this is an issue anymore. I tried to reproduce it on a brand new Rails 4.2.2 / Ruby 2.2.2 / Draper 2.1.0 without any luck. Changing `require 'rails/all'` to the individual railties (with test_unit) commented out as mentioned in the comment above did cause issues. But uncommenting the `require "rails/test_unit/railtie"` made things work again.

If this is still an issue for someone, p

[2017-04-03 13:57] #679 closed

[2017-04-03 16:04] chuck-john commented on #727
@codebycliff, this is a great idea.  I'll get a branch started.

[2017-04-03 22:51] codebycliff commented on #783
This was merged with https://github.com/drapergem/draper/pull/794.

[2017-04-03 22:51] #783 closed

[2017-04-04 03:25] codebycliff commented on #773
This was merged in https://github.com/drapergem/draper/pull/795. Closing this now.

[2017-04-04 03:25] #773 closed

[2017-04-04 04:16] syguer commented on #722
@samstickland

Because Draper try to find Decorator by associate name.
There is a couple ways  to fix problem.

1. Stop to use `double`
It seems to pass your spec after change to following with...
[code]

If you need mock with method, you can use stub.
[code]

2. Add decorator name specification
[code]

This is your workaround. The error you got seems to fix by adding `delegate_all` to `OrderDecor

[2017-04-05 17:16] codebycliff opened #797 "Draper doesn't work with Pundit out of the box."
When using the pundit gem, we are not able call `policy` related methods on our decorated objects. This seems to be a delegation issue. Here is an example:

[code]

Blows up with:

![image](https://cloud.githubusercontent.com/assets/651946/24717879/8a560cd0-19f9-11e7-9e1c-0bd1cc8c18b3.png)

While this is a `Pundit` error, I believe it is Draper's fault as a decorated object should act as an undeco

[2017-04-05 17:44] syguer commented on #797
hmm...
https://github.com/elabs/pundit/blob/c3f2d09a0e67e868449e4d53301dfdc819004032/lib/pundit/policy_finder.rb#L59

It looks succeeding to find policy name ( =`ClientPolicy`), but maybe failing to `constantize`.
Can `ClientPolicy` load from anywhere?

[2017-04-05 18:43] codebycliff commented on #727
This was merged in https://github.com/drapergem/draper/pull/796.

[2017-04-05 18:43] #727 closed

[2017-04-06 03:11] codebycliff commented on #646
I was able to reproduce this behavior and I fixed it by using `decorates_associated` instead of overriding the method:

[code]

Were the rest of you experiencing this issue also overriding the association method in the decorator? If so, you should be able to change it to the code above. If there is another scenario that is causing this, please let me. If you could provide an example app, that woul

[2017-04-06 04:09] #678 closed

[2017-04-07 18:57] codebycliff commented on #797
This was in fact a load path issue. Closing now.

[2017-04-07 18:57] #797 closed

[2017-04-10 03:17] chuck-john commented on #721
@codebycliff, confirmed this also happens in v3 with Rails 5. Still haven't found an `after` or `before` hook that works though.

[2017-04-11 14:16] dimroc commented on #646
I tried this in two projects with version draper 3.0.0.pre1.

In the first application (straight Rails and ActiveRecord) I got eager
loading to work even without the `decorates_associated`. Everything was
great there, and I don't remember that being the case.

In my second application I had mixed results. I also got eager loading
working even without the `decorates_associated` but I also had it fa

[2017-04-11 17:55] darrinholst commented on #646
I couldn't find the part of our app that I was seeing this in now. It appeared to be working where I thought the problem was now. It was a low traffic part so I guess I didn't bother to document it anywhere. I'd call it resolved for now. I'll make sure to get more details if/when I see it again.

[2017-04-12 00:15] codebycliff commented on #646
Okay, I'm going to close this then. Thanks for the responses.

[2017-04-12 00:15] #646 closed

[2017-04-12 22:26] codebycliff commented on #671
@JelF Are you still experiencing this issue? If so, can I get more details (e.g. draper version, rails version, stack trace, etc.)? I can't seem to reproduce it at all:

![image](https://cloud.githubusercontent.com/assets/651946/24982069/30b2af9c-1fa5-11e7-8a3e-b220bb619919.png)

[2017-04-12 22:32] codebycliff commented on #663
While this might be misleading, you should still be able to pass a decorated object to a background job without it blowing up. Ideally, a decorated object should behave as if it were the object it is decorating. Here's what I'm proposing:

1. Add: `include GlobalID::Identification if defined? GlobalID` to `Draper::Decorator` so that it doesn't blow up.
2. Add some documentation to the README sayin

[2017-04-13 02:58] codebycliff commented on #680
I'm not sure I understand your question. As far as the code above, it seems like a perfectly good use of a helper. You could implement something similar in Draper as a decorator method. Is there more to your question than that?

[2017-04-13 03:14] codebycliff commented on #670
@adsteel I think your most recent comment is the right solution. Ultimately, objects should be decorated at the last moment before passed to the view.

Is this still a paint for any of you? and if so, is there any reason you can't move to decorating at the end?

[2017-04-13 03:22] codebycliff commented on #621
For anyone coming across this, there will be a release of Draper very soon with support for Rails 5 and 5.1. I have made it through the majority of open pull requests and am working through the issues as we speak. I plan to continue to maintain the gem going forward.

[2017-04-13 03:34] codebycliff commented on #722
@samstickland Both of the above suggestions seem like good solutions to the problem. Ultimately, the class inference isn't terribly great and I can't recommend enough the explicit specification (i.e. `with: OrderDecorator`).

[2017-04-13 03:34] #722 closed

[2017-04-13 05:36] #680 closed

[2017-04-13 14:33] adsteel commented on #670
@codebycliff this issue inspired me to write my own decorator library, which avoided this sort of pain point. Ultimately that journey led me to realize this sort of decoration pattern wasn't the solution I was looking for. So... no more pain, but I also don't use draper anymore.

[2017-04-13 14:41] JelF commented on #671
@codebycliff no more, seems it have been fixed

[2017-04-13 15:08] codebycliff commented on #671
Sounds good. I will close it then.

[2017-04-13 15:08] #671 closed

[2017-04-17 17:11] kyledecot commented on #681
@codebycliff Is a new version going to be released on rubygems?

[2017-04-17 19:49] codebycliff commented on #681
@kyledecot Yes, soon.. I'm hoping to have a release in the next couple weeks.

[2017-05-03 17:29] malacalypse opened #798 "View context 'controller' method errors during rails console startup on Rails 5.1"
Hello, on Draper 3.0.0.pre1 in Rails 5.1 I'm getting the following error during application startup in rails console:

[code]

It looks like:

[code]

Should be changed to something like:

[code]

No?

There's also a note:

[code]

Any plans to mitigate this as well?

[2017-05-03 17:52] codebycliff commented on #798
This is fixed in master. I'm hoping to get an official release out on RubyGems by the end of the week.

[2017-05-03 17:52] #798 closed

[2017-05-04 15:55] malacalypse commented on #798
Ok, cool, thanks.

[2017-05-08 14:59] codebycliff commented on #777
This release has been merged and push to RubyGems. Please report any issues you may come across.

[2017-05-08 14:59] #777 closed

[2017-05-09 01:33] kenta-s commented on #777
Thank you for the great work! We were really looking forward to this release :)

Would you like to create 'a release' for 3.0.0 on GitHub as well? If so, this link might be useful as a reference: https://help.github.com/articles/creating-releases/

[2017-05-09 02:28] seanlinsley commented on #777
A release on GitHub is automatically created if a version tag is created.

<img width="378" alt="screen shot 2017-05-08 at 9 28 14 pm" src="https://cloud.githubusercontent.com/assets/688886/25833233/4e2422be-3435-11e7-89a0-7fbf220a3761.png">

[2017-05-09 10:20] biow0lf opened #804 "Tag 3.0.0 release"
Hello,

As I see, tag for 3.0.0 release is missing. Can anyone tag and push?

[2017-05-09 14:09] codebycliff commented on #804
Sorry about that. This is done.

[2017-05-09 14:09] #804 closed

[2017-05-09 14:10] codebycliff commented on #777
@kenta-s Sorry about that. I have created the corresponding Github release.

[2017-05-20 23:19] abali96 opened #808 "Update actionpack version to support Rails 5.1"
When trying to upgrade to Rails 5.1, I receive this error:
[code]

I'm currently on draper 3.0.0.

[2017-05-22 04:34] syguer commented on #808
`~> 5.0` means `5.x` (not 5.0.x). So it looks something weird for me.
And I tried on my local environment, could not be reproduced.
Please try `bundle update rails` again after `gem update bundler`.

[2017-06-12 08:25] itkin opened #809 "Would be nice to have a :module option to decorates_association"
Hello,

I use drapper to decorates models in the context of my app and its admin interface.

Say for a model class Document i have 2 different decorators `DocumentDecorator` and `Admin::DocumentDecorator`.

On the other hand i heavily use STI. Currently `decorates_association` handle STI pretty well but not when you have more than one decorator per STI class.

Would be nice to have a :module optio

[2017-06-15 09:00] Frexuz opened #811 "Draper conflicts with another generator"
I get an error when running a generator from the [mountain_view](https://github.com/devnacho/mountain_view) gem.
`mountain_view-0.12.0/lib/mountain_view/engine.rb:34:in block (2 levels) in <class:Engine>': undefined methodhelper' for ActionController::API:Class (NoMethodError)`

**If I remove Draper, that generator works just fine.** So it *seems* like a Draper issue? But I'm not sure.

Issue disc

[2017-06-15 22:23] maschwenk commented on #808
Hi, @syguer I believe you are incorrect. See http://bundler.io/v1.5/gemfile.html#gemfiles
![image](https://user-images.githubusercontent.com/1264305/27204206-95ffed90-51de-11e7-9c53-65259e63b97c.png)

[2017-06-15 22:26] maschwenk commented on #808
You can even reference http://jubianchi.github.io/semver-check/ if you don't trust that

[2017-06-19 02:28] syguer commented on #808
Thanks for reference 👍
Your reference says,

So `~> 5.0` means `>= 5.0 and < 6.0`, doesn't this?
Please try `bundle udpate rails draper`, and let me show your Gemfile.lock if you can.

[2017-06-20 16:43] codebycliff commented on #811
Thanks for reporting this. After reading it over, I could see how this could be related to Draper. However, I wasn't able to reproduce it with a brand new app with Draper and mountain_view. Is the app in question in fact API only? Is it possible to get a sample app that reproduces the issue?

[2017-06-21 05:01] Frexuz commented on #811
Tested again.

[code]

Seems activeadmin is included in the collision.

- mountainview + draper works
- mountainview + activeadmin works
- mountainview + draper + activeadmin **does not**

Can you reproduce it this scenario?

Very strange. I'll post over at activeadmin as well :)

[2017-06-22 08:53] teohm opened #812 "Consider implement #preload in Draper::CollectionDecorator"
We're using [datagrid gem](https://github.com/bogdan/datagrid) together with draper decorators.

They works very well so far, until recently [datagrid introduces preload feature](https://github.com/bogdan/datagrid/commit/3c756c383ed8ad8ddfd4e74cd502df3242f4bf57), where it actively preloads associations when rendering a ActiveRecord resource.

To fix this breaking change, we have to implement `#pre

[2017-06-26 09:40] joeljunstrom commented on #808
@syguer I think `~> 5.0` means `>= 5.0.0 and < 5.1`. Easily tested by http://jubianchi.github.io/semver-check/ as stated above.

[2017-06-27 06:51] syguer commented on #808
OK. I've created repository to try reproducing.
[Here](https://github.com/syguer/reproduce_draper_compatibility/blob/master/Gemfile.lock) is Gemfile.lock. It was passed.

My opinion is refer to http://bundler.io/v1.5/gemfile.html#gemfiles.

So this means

* Documentation of bundler is wrong

or

* SemVer Check is wrong on Bundler

[2017-06-28 15:45] codebycliff commented on #808
I believe @syguer is correct. The [documentation on bundler's site](http://bundler.io/gemfile.html#gemfiles) clearly states that `~> 5.0` means `>= 5.0 and < 6.0` via this example:

If we specified the patch number (i.e. `~ 5.0.0`), that would in fact mean `>= 5.0.0 and < 5.1.0` like the rest of you are stating. You can verify this is the case on [RubyGem's documentation](http://guides.rubygems.or

[2017-06-29 17:47] codebycliff commented on #808
The http://jubianchi.github.io/semver-check/  utility has been updated to support the `~>` operator. You should be able to verify the supported versions on that site now.

[2017-06-29 18:17] maschwenk commented on #808
Hahah awesome. Thanks for your extremely thorough response. I just recently upgraded to Rails 5.1 and Draper upgrade worked fine. Not exactly sure what the cause was earlier, maybe I was actually on the `beta` at the time.

[2017-07-02 03:22] Frexuz commented on #811
Fixed by https://github.com/devnacho/mountain_view/pull/53

[2017-07-02 03:22] #811 closed

[2017-07-05 17:27] codebycliff commented on #808
Sounds good. I am going to close this for now then.

@abali96 If you still run into this issue, please comment on the issue and I will open it back up / look into it.

[2017-07-05 17:27] #808 closed

[2017-07-06 09:57] swelther opened #813 "Decorator can not access controller helper in test"
Today I noticed a weird behaviour during my request spec:

The controller defines a helper method which is called from the decorator. But during the test this helper is not available.

Please see this gist with a sample app that reproduces the problem, using Ruby 2.3.3:

https://gist.github.com/swelther/47c5ffb707ca1145ca87d1dfb8aa99fa

My real world app uses RSpec instead of Minitest, but the res

[2017-07-11 11:27] zinkkrysty commented on #523
It is still not clear how to deal with this problem. We are facing the issue that once the mailer specs run, the controller specs are failing precisely because of this. Draper should be automatically configured so that it clears any cached variables after each spec. If someone wants to optimize the speed of the specs by enabling that, they should have the option, but at their own risk!

I am tryin

[2017-07-11 11:49] zinkkrysty opened #814 "Should automatically clear view_context before/after each spec"
So that it doesn't leak from a mailer spec to a controller spec and viceversa, since the helpers are different in those contexts.

This probably causes all these issues:
#523 #813 #655 #580

We need a solution that addresses these issues.

[2017-07-13 00:40] terencedignon opened #815 "Calling decorate on a STI model returns a decorator for its parent"
Draper: 3.0.0
Rails: 5.0.3

I'm running into issues with calling .decorate on STI models.  For instance, I have a User model from which an Employer inherits.  Calling .decorate on Employer returns:
[code]
It hits prefix assignment:

[code]

respond_to?(:model_name) then returns true and the class is assigned to the following model_name:
[code]

All in all, it ends up returning the parent model, Us

[2017-07-18 13:34] codebycliff commented on #813
Thanks for reporting this issue. It looks like it has been around for a while. It appears to have to do with the `ViewContext` not being cleared after each spec. I'll look into this and get back to you.

[2017-07-18 13:46] codebycliff commented on #814
Thanks for reporting this issue. I have checked the issues you referenced and it does appear that they are all related. I will start looking into it, but I may need to gather some context from some of the original authors as to why we aren't doing this.

Furthermore, it looks like we are clearing the view context `before` each spec (https://github.com/drapergem/draper/blob/master/lib/draper/test/r

[2017-07-18 13:54] codebycliff commented on #809
Thanks for the suggestion!

 I can see the use case you are after. The inference this gem is currently doing causes quite a bit of headaches, so I'm hesitant to add more magic. However, I feel like we can do a better job of handling this case. It seems like it should be possible to infer the module without the addition of a `module` option. In your example above, we could potentially infer the `Ad

[2017-07-18 13:57] codebycliff commented on #812
Thanks for the suggestion!

I've seen a few issues related to this functionality. Let me look into those and get back to you. At first glance I don't see a problem with adding this functionality, but I'll want to get a little more context before I give you a full answer.

[2017-07-18 14:01] codebycliff commented on #815
Thanks for reporting the issue. This functionality should be possible and I've had it work for me in the past. The inference the gem does results in this kind of thing from time to time.

If you have a sample app that reproduces the issue, that would help speed things up tremendously. Otherwise, give me a little bit of time to try and reproduce it.

[2017-07-23 03:10] terencedignon commented on #815
Hi Cliff, thanks for the quick response! Here's a barebones example that reproduces the issue:  https://github.com/terencedignon/draper_issue-815

[2017-07-23 03:59] terencedignon commented on #815
This is a solution that seems to work for us: https://github.com/terencedignon/draper/commit/d76236fa644f7237c6255e21a1dbfc2b595e7c36

[2017-07-31 18:40] codebycliff commented on #815
I've taken a look at your reproduction app and the stack overflow post you referenced. I have confirmed that this is due to you monkey patching `model_name`. Unfortunately, there is nothing I can do to help as Draper is doing everything correctly. We are inferring the decorator based on the `model_name`, which you are overriding to force it to return a `ActiveModel::Name` instance that corresponds

[2017-07-31 18:41] codebycliff commented on #815
Another option I didn't mention above is to override `model_name` in the rest of your subclass models. For example:

[code]

For what it's worth, I still recommend the second option from above.

[2017-08-01 16:19] codebycliff commented on #815
I'm going to close this for now. Let me know if this didn't solve your problem or you think more is going on and I'll re-open the issue.

[2017-08-01 16:19] #815 closed

[2017-08-03 22:50] itkin commented on #425
maybe we should allow to delgate at least the scope ? My use case working with activeadmin where you want to diplay scoped tables of associated model within their parent show view . hence it would be nice to be able to do :

[code]
And not to have to repeat whenever you want to display a scoped collection :
[code]

[2017-08-10 13:22] unikitty37 opened #818 "Collection decorator unable to access decorator of collection objects"
Rails: 5.1.2
Draper: 3.0.0

I have an `EventDecorator` and an `EventsDecorator` on the `Event` model.

[code]

[code]

and I am accessing them by decorating the collection in the controller:
[code]

I would expect that, when I render `@upcoming_events.front_page_card` in the view, I would get three divs, all containing the word 'short'. What I actually get is `undefined method `short_listing' for

[2017-08-11 17:25] unikitty37 commented on #818
Changing `event.short_listing` to `event.decorate.short_listing` seems to fix the problem, but I don't understand why the behaviour is different when front_page_card is called from a view renderer rather than from the rails console.

The documentation certainly seems to imply that I shouldn't need to explicitly decorate `event` here…

[2017-08-14 07:04] syguer commented on #818
Hi. it looks not a draper bug.
`Issues` should be for bug report and suggesting new features. So If you have question of how to use, I recommend posting to Q&A site ( such as [StackOverflow](https://stackoverflow.com/questions/tagged/draper)

BTW, [documentation](https://github.com/drapergem/draper#decorating-the-collection-itself) says you should write like this.

[code]

Please try 😄
Regards.

[2017-08-14 11:12] unikitty37 commented on #818
Afraid following the documentation does not work — I still get the NoMethodError if I call

[code]
in the controller — I can call collection decorator methods such as `@upcoming_events.front_page_card` just fine, but those methods cannot then call a decorator method defined in `EventDecorator`, such as `short_listing` without explicitly calling `decorate` on the event first — so the `event.short_l

[2017-08-18 07:19] pascalbetz opened #819 "Misleading Error Message: Could not infer a decorator for ActiveRecord::Base."
Since `decorator_class` recursevly walks up the class hierarchy to find a decorator the error is misleading and does not show the real class name. As an example:

[code]

will raise following error when decorator can not be found

instead of

Not a big issue as I usually now what I'm decorating...but I'm a big fan of helpful error messages:-)

I can provide a fix if this is of interest.

[2017-08-23 21:58] toppa commented on #767
I've run into the same issue trying to use Draper with the audited gem. The audits can be accessed as, e.g. `Audited::Audit.new`. I've tried a variety of syntax in a decorator for it, but get this same error (and `Unable to autoload constant AuditDecorator` with some of the syntax I've tried).

Is there a recommended syntax for defining a Draper decorator for use with namespaced classes?

[2017-08-25 05:59] syguer commented on #819
Related https://github.com/drapergem/draper/issues/767

[2017-09-13 06:08] swelther commented on #819
I get this misleading error every now and then. Really annoying, would be happy for a fix :blush:

[2017-09-13 07:39] pascalbetz commented on #819
@swelther I created a PR, feedback welcome!

[2017-09-22 09:54] DemidenkoAndrey opened #822 "STI error"
I have updated from '3.0.0.pre1' to '3.0.0' and have issue with STI.
I have STI  models and declare draper on original model. And when I decorate object I get errors that
"uninitialized constant #<Class:0x0000000005ad7e38>::STI_class_nameDecorator"

[2017-09-22 14:29] codebycliff commented on #822
Can you verify that this isn't fixed in master? We just fixed a similar issue, so I want to double check before looking into it. Thanks!

[2017-09-22 14:39] DemidenkoAndrey commented on #822
@codebycliff Thank you. In master is everything ok.

[2017-09-22 14:40] codebycliff commented on #822
Good deal! I'll get a release out here soon so you can update.

[2017-09-22 14:40] #822 closed

[2017-10-12 16:57] codebycliff commented on #819
Closing. This was fixed in #821.

[2017-10-12 16:57] #819 closed

[2017-10-12 17:49] codebycliff commented on #819
This has been released to RubyGems.

[2017-11-25 08:35] kakipo opened #826 "Decorator calls unexpected method or is it intentional?"
_This may be a possible duplicate of issue #757_

Even if a decorated instance has `#trust` method (which overrides `Object#trust`), a decorator calls `Object#trust` instead of decorated instance's one.

Here is an example:

[code]

Is it intentional or not?

[2017-12-04 14:07] mobject commented on #814
I am having same issue when running several mailers and the Context was not cleared out

[2017-12-06 18:06] codebycliff commented on #826
@kakipo Sorry it took me so long to respond. I was unable to reproduce this issue. I tried to reproduce the original issue to no avail as well. Is there anyway you can create a sample app that reproduces the issue?

[2017-12-11 16:26] PragTob opened #827 "model.assocations.decorate loads the association even if it is preloaded (AR)"
Hi there,

first and foremost - thanks for draper :tada:

In our application I run into the problem that I want to explicitly decorate an association not as part of the decorator definition (sadly this easily leads to performance problems) so we want to do `model.association.decorate` but this seems to reload the objects from the database even if they were preloaded before.

See this snippet:

[co

[2018-01-16 15:10] franzliedke commented on #661
Is there any plan to still go forward with this issue?

@himdel How often are you dealing with ActiveRecord objects and don't know their type? In any case, you can still easily add this method to your models' base class, right?

[2018-01-16 15:55] himdel commented on #661
@franzliedke Pretty much every single time :) The model goes through our reporting engine to generate reports, and then you decorate it to get the icons to use.

[2018-01-25 16:43] masciugo commented on #819
I had to add to point to github
`gem 'draper', github: 'drapergem/draper'`

to have it working

[2018-02-08 12:35] briu opened #828 "why decorate decorated object"
Why already decorated object decorates every time on calling `decorate`?

With this approach, we can lost context, for example

[code]
Is it right behaviour?

[2018-02-09 15:18] codebycliff commented on #828
What is the use case where you are calling `decorate` twice, but expecting the `context` to remain the same? That is, what is the need for calling `decorate` the second time?

Draper works best if you decorate at the very last moment, ideally in the view. Decorating early in the controller lifecycle is[ not recommended](https://github.com/drapergem/draper#when-to-decorate-objects) and leads to a w

[2018-02-09 15:54] briu commented on #828
We are using [cells](https://github.com/trailblazer/cells).

For example `UserCell`,

[code]

Inside cell object many times calling decorator methods, and we decorate object inside.

Should object been decorated, before initializing cell?

This cell initializes many times, in different places.

[2018-02-09 15:59] codebycliff commented on #828
Both cells and Draper are designed to solve similar problems (i.e. alternatives to view helpers). I have never seen them used in conjunction, so that's pretty interesting. I think your problem will go away if you change your `user` method to:

[code]

This is a common pattern in Ruby to prevent re-initialization or creation of objects. Let me know if this solves your problem.

[2018-02-09 16:06] briu commented on #828
We firstly decorate collection with context, and secondly inside cell

The problem could be solved with this
[code]

And with usage `object` instead `user` inside `cell`.

But cell always need decorated object, and decorating object inside cell is obvious for me.

[2018-02-09 18:29] codebycliff commented on #828
I'm not sure I followed that last sentence, but it sounds like you have a solution for this. Also, if you are decorating the collection beforehand, I don't think you will need to call `decorate` when passing it into the cell. For instance:

[code]

But long story short, I believe this is the intended / expected behavior when calling `decorate` again. Let me know if I can help with anything else.

[2018-02-26 13:46] NielsKSchjoedt opened #829 "Memorization with instance variables in helpers does not work"
I have helper which I use for caching and accessing some data for each item in a a collection in my views.

I have a helper which looks like this:

[code]
And a decorator like this:

[code]

The problem is however, that when I have a controller action like this:

[code]

Then `@id_to_human_name_map` is nil for every item. So the instance variable seems to be set in the scope of a new instance of t

[2018-04-05 11:42] NielsKSchjoedt commented on #829
Any one? :-)

[2018-04-05 14:53] NielsKSchjoedt commented on #829
I was mistaken. There was nothing wrong with Draper. You can delete the issue :-)

[2018-04-05 14:53] #829 closed

[2018-04-10 16:12] marcioJesus opened #830 "Rails 5.2 support"
Hi,

Can Add activesupport 5.2 support?

Thanks

[2018-04-10 16:52] codebycliff commented on #830
What specific issue are you running into? Draper's dependency constraint on `activesupport` is `~> 5.0` which covers all versions up to `6.0`. Unless I'm missing something, there shouldn't be any dependency issues with Draper when upgrading to Rails 5.2. I just upgraded an application with Draper to Rails 5.2 yesterday without any issue. Sorry if I'm missing something.

[2018-04-10 17:51] marcioJesus commented on #830
Oops, that's right. :) After your comment I realized that the problem is in another gem that prevented the update of activesupport

Thanks for the feedback. I'll close the issue

[2018-04-10 17:51] #830 closed

[2018-04-12 20:52] tibbon commented on #655
I'm still experiencing this. I see it was added to the 3.0.0 milestone, but 3.0.1 is out. Bump?

[2018-04-13 11:02] milankubin commented on #655
@tibbon Did my proposed workaround helped you at all?

This caused me a lot of headache. Suggesting to put it in the Readme :)

[2018-04-13 14:07] tibbon commented on #655
@milankubin Yep, that's what I've got implemented now. Very much in favor either of it getting into the readme as the canonical way of doing this, or having another fix hopefully.

[2018-05-21 14:07] #828 closed

[2018-05-31 18:20] dukedave opened #831 "Can't use font-awesome helper when running through after_party"
I have a decorator which looks like:

[code]

It works just fine when called either:

* As part of a web request, through `rails server`
* By a `rake` task

However when I call the same code in an [after_party task](https://github.com/theSteveMitchell/after_party) I get:

[code]

---

I was able to work around the issue (taking inspiration from [here](https://stackoverflow.com/a/23573067/21115)) b

[2018-06-12 15:26] cdesch opened #832 "can all attributes of a model be wrapped?"
Is there a way to wrap all attributes of a model with a decorator? Similar to the way forms are wrapped with errors on the invalid form field, is there a conditional way to wrap each attribute being decorated with a error?

For example, in my model I have a `data_results` of `jsonb` which contains a json list of which attributes have errors as well as their descriptions of what the error messages

[2018-06-13 03:37] toddoxford opened #833 "Add navigation for the knowledge center"
Add link to the footer, header and console

301 redirect /knowledgecentre & /knowledgecentre/insuranceforondemandworkers to /knowlwdge_base

[2018-06-22 19:35] pedrofurtado commented on #655
@notalex You could access by this way:
[code]

[2018-07-30 10:49] cdesch commented on #832
Ah!. Let me give that a try. Thank you!

[2018-08-14 07:04] rusikf opened #834 "Compatibility with Rails 5.2"
Last version of draper 3.0.1 requires action pack 5.0, but we have already 5.2.1 for rails 5.2. Is it possible to update gemspec ?

[2018-08-14 13:15] codebycliff commented on #834
Can you show me what exactly you are experiencing? The `actionpack` version in the gemspec is `~> 5.0` which resolves to _any_ version less that 6.0. See [this issue](https://github.com/drapergem/draper/issues/830) and [this issue](https://github.com/drapergem/draper/issues/808) for more detail.

[2018-08-20 15:29] vnhnhm commented on #819
As stated in the docs, it might help if nothing else works:

[code]

[2018-09-10 14:17] thomasdarde commented on #834
This is a mistake I think, draper appears first sometimes when trying to update rails , but it doesn't mean it's the gem blocking the update.

Ex, here :
[code]

It's inherited_resources that makes the update to 5.2.1 not working.

[2018-09-14 09:59] #655 closed

[2018-09-19 07:50] rusikf commented on #834
@codebycliff I agree with @thomasdarde , when I run bundle update rails draper, i see:
[code]

[2018-09-19 14:38] codebycliff commented on #834
I believe @thomasdarde is agreeing with my comment. Please correct me if I'm wrong @thomasdarde. Draper supports all versions of Rails less than 6. I have had Draper 3.0.1 running with Rails 5.2.1 for quite a while now. Is that the only output?  Can you provide me any more detail, such as the Gemfile?

[2018-09-19 14:43] thomasdarde commented on #834
I do agree with @codebycliff
@rusikf , you should share with us the whole bundle update output and you will see it's another gem that is blocking.
I think this issue can be closed

[2018-09-21 13:38] codebycliff commented on #834
@rusikf I'm going to close this for now. If you comment with more detail, I can help you look into it more.

[2018-09-21 13:38] #834 closed

[2018-11-07 08:42] mapreal19 opened #837 "Clearing Draper::ViewContext in RSpec"
I had an issue with some specs not clearing the ViewContext and hence having `undefined h.current_user`. It doesn't make sense to clear for every type of spec?

https://github.com/drapergem/draper/blob/ed62f5555148b997eeb9feb365dd3dffcdb3d903/lib/draper/test/rspec_integration.rb#L12

[2019-01-07 17:18] codebycliff commented on #814
@tibbon I was able to contact one of the original authors, but they couldn't remember enough context to be of any help. I have dug through all the related issues and put together a rough overview and timeline of the issue.

## Overview
While this issue seems to exist for both Minitest and RSpec, it seems to be more common with RSpec. I just merged a [pull request](https://github.com/drapergem/drap

[2019-01-14 23:10] lapitsky opened #840 "Virtual attributes and mass assignment"
I can define a virtual attribute in an ActiveRecord model class like
[code]
It allows me to make calls like `model.update(virtual_attr: 'Hi!')`

When I try to do the same for a decorated model class it fails in internal `_assign_attribute` method. I think the reason is that it tries to do `send(:virtual_attr=)` **for the model object** and does not find such a method there.

What is the recommende

[2019-01-15 17:41] stopanko commented on #523
I just added `Draper::ViewContext.clear!` to the `:feature` test settings
`config.before type: :feature do ...`
and
`config.after type: :feature {do ...`

[2019-01-31 04:42] KozakIvan opened #842 "not working with pagy gem"
undefined method `offset' for #<Draper::CollectionDecorator:0x000055c4dc57d0b8>

i'm doing as describe https://github.com/drapergem/draper/issues/429, but view can't find methods used in parent decorator.

[2019-02-11 09:08] ndnenkov commented on #339
Note for future readers - for newer versions of the gem your metadata should be under `context`:

[code]

[2019-02-22 08:25] MarcSteven opened #846 "update doc"
Rails 6 had released ,so I think it's time to update the documentation  so as to make more developers understand well.

[2019-03-05 07:51] roryokane commented on #833
Did you post this in the wrong place? I looked around, but couldn’t find any knowledge center related to the Draper gem. It has nothing to do with insurance either.

[2019-03-05 14:12] codebycliff commented on #833
Yeah, this is definitely in the wrong place.

[2019-03-05 14:12] #833 closed

[2019-03-07 00:05] pgaspar commented on #814
Hello 👋 This seems to be happening to me as well in situations where `decorator`, `mailer` and `controller` specs are not the only ones using decorators. For example, if you have an asynchronous job class instantiating decorators (similar to what mailers do) you'll need to add `before(:each)` to those specs yourself.

Adding `after(:each)` to `decorator`, `mailer` and `controller` would help reduc

[2019-03-12 14:50] codebycliff commented on #846
What exactly are you thinking? The documentation states any version greater than Rails 5 already.

[2019-03-13 19:56] pgaspar commented on #814
@codebycliff thanks. That looks good :+1:

[2019-03-14 15:04] codebycliff commented on #814
I updated the documentation in https://github.com/drapergem/draper/pull/847. If we continue to get issues opened up around this, I'll come back and clear the view context before _every_ test.

[2019-03-14 15:04] #814 closed

[2019-03-15 16:33] joshmn commented on #842
did you ever figure this out?

[2019-03-16 06:23] codebycliff commented on #842
Can you try this on the latest version of Draper? I _think_ this should have been resolved by https://github.com/drapergem/draper/pull/845.

[2019-03-18 14:19] codebycliff commented on #842
@KozakIvan I'm going to close this as I believe this issue has been resolved. If you find otherwise, please re-open the issue and I'll take a look.

[2019-03-18 14:19] #842 closed

[2019-03-18 14:20] codebycliff commented on #846
Unless I'm completely misunderstanding, I don't believe there is anything to do here. If I am missing something, please comment and I'll reopen / address the issue.

[2019-03-18 14:20] #846 closed

[2019-03-18 14:21] codebycliff commented on #663
Closing this as I believe it is resolved. If someone figures out how to deserialize the record as a _decorated_ object, feel free to open a pull request.

[2019-03-18 14:21] #663 closed

[2019-03-18 16:35] codebycliff commented on #771
Fixed by: https://github.com/drapergem/draper/pull/849

[2019-03-18 16:35] #771 closed

[2019-03-18 16:39] codebycliff commented on #837
The issue you are experiencing is actually due to the view context _not_ being cleared after certain spec types. See the documentation in [this pull request](https://github.com/drapergem/draper/pull/847), as well as the [referenced issue](https://github.com/drapergem/draper/issues/814) for more detail. Are you using decorators inside of jobs? That would be a scenario where the view context was bui

[2019-03-19 02:02] brunohkbx commented on #827
@codebycliff I don't think there is any way to avoid this query when `.decorate` calls `.all` even if it was preloaded :thinking:
https://github.com/drapergem/draper/blob/master/lib/draper/decoratable.rb#L58

[2019-03-20 02:29] codebycliff commented on #702
This should be fixed via https://github.com/drapergem/draper/pull/845.

[2019-03-20 02:29] #702 closed

[2019-03-20 09:23] mapreal19 commented on #837
Not using decorators inside jobs but it was a similar scenario. Thanks for the PR! I'll be useful for others.

[2019-03-20 09:23] #837 closed

[2019-03-20 16:33] codebycliff commented on #837
Perfect. Glad we could help.

[2019-05-08 13:15] mkamensky opened #854 "ActiveStorage decorators"
I suggest including support for decorating `ActiveStorage` attachment. Since `ActiveStorage` does not derive from `ActiveRecord`, this is not automatic. I currently do it by putting

[code]
in a initializer. Thanks!

[2019-07-02 18:10] jrochkind opened #857 "Decorator spec can't access current_user when nil"
My decorators sometimes need to access the `current_user?` helper, from devise.

If I mock a current user using Devise::Test::ControllerHelpers sign_in, like so:

[code]

That works, no problem. My decorators that access current_user get back that specified user when run under the spec, all is good.

But my app has public facing pages that have no signed in user, current_user is nil.

If I run a s

[2019-07-02 18:17] jrochkind commented on #857
Ah, I see the `sign_in` method I am using in test setup in a decorator test, that I thought was coming from `Devise::Test::ControllerHelpers`, is actually coming from this gem, `Draper::DeviseHelper`.

Not sure what's going on, or how this changes things. But looking at what that does, to see if I can figure out how to make it set up a `nil` current_user instead... and if there's a way to do this

[2019-07-02 18:32] jrochkind commented on #857
This seems to work if I put it in my `rails_helper.rb`:

[code]

Can't actually use the `Draper::DeviseHelper#sign_in`, because of the way `nil` short-circuits it, so do have to use the underscored  (presumably not meant for public consumption) `Draper::DeviseHelpers#_stub_current_user_scope`.

This will of course [define a singleton method current_user on the fly](https://github.com/drapergem/dra

[2019-07-10 17:41] jrochkind opened #858 "error from rspec on lazy_helpers undefined method `id`"
I'm getting an exception raised in rspec, involving a draper decorator that uses LazyHelpers.

It is raised in rspec's "cleanup" code, after all specs are run (some failing), but before rspec prints the details of the failing specs.

I'm having trouble figuring out where to go with this, or what could possibly be going on.

    draper-3.1.0/lib/draper/lazy_helpers.rb:10:in `rescue in method_missin

[2019-07-10 17:43] jrochkind commented on #858
Ah wait, I think maybe the stack trace/error is totally bogus, I'm remembering that a "method missing" error can sometimes be raised by something using LazyHelpers that is really hiding the real problem. Hmm. Will try to look into it more.

This may call for a different Issue report, that exceptions in methods in a LazyHelpers-using class can often be masked as an unrelated exception.

[2019-07-10 17:52] #858 closed

[2019-07-11 17:17] jrochkind opened #859 "draper breaks #== on persisted ActiveRecord models, if you aren't using delegate_all, results in NoMethodError on #id"
If you aren't using `delegate_all` in your decorator, draper breaks calling #== to compare an ActiveRecord model to a Decorator decorating an instance of the same class as the model.

Why does this matter, why would you ever do it? Not sure, but rspec is trying to do it when reporting a spec failure.

## Reproduction

[code]

Will raise:

    *** NoMethodError Exception: undefined method `id' for

[2019-07-11 17:37] jrochkind commented on #859
If there are any currently active Draper maintainers, it would be lovely to get some feedback!

As I think about it, it seems clear the 'right' answer is that Decorators should not over-ride instance_of to claim they are instances of their decorated class *unless* `delegate_all` is being used. If you aren't delegating all to the real object, you really don't want to tell everyone you are an instan

[2019-07-31 07:28] synth opened #860 "Addition of Draper Gem causes empty string output in ActionController::API requests"
When we add `gem 'draper'`  to our Gemfile in our Rails 5.0.x project, it breaks our ActionController::API requests by causing an empty string to be returned. I believe this is due to our use of the `responders` gem as well.

We see the debugger hit the following:

[code]

[code]

So, `has_view_rendering?` returns true due to the injection of ActionView::Rendering into the class hierarchy by Drape

[2019-08-05 12:48] darmenise commented on #615
For Rails 5 the fix is to remove this line:

[code]

[2019-09-28 00:52] synth opened #864 "Draper::QueryMethods does not preserve context"
**Given**: Creation of a Decorator::Collection instance with a context and calling `order` on that collection to pass database sort ordering through to the ActiveRecord::Association
**Expected**: The resulting collection should preserve the original context
**Actual**: It does not preserve the context.

Example code:

[code]

I don't know if this is the proper long term fix for this, but this fix

[2019-09-28 01:00] synth commented on #864
I would imagine that the context should be passed along anytime `decorate` is called and there is context object available in the current scope

[2019-09-28 01:16] synth commented on #864
Discovered a workaround until this is fixed which is to use a similar approach to adding Pagination support. In the application specific collection decorator class, you can add the `order` method and simply tack on the context after calling `super`

[code]

[2019-10-08 22:52] blarralde opened #865 "already initialized constant in view helper modules"
Rails 6.0.0
Draper 3.1.0

Steps to reproduce:
* in a view helper (under app/helpers) add a constant like `MY_CONSTANT = 'const'`
* restart the rails server

Buggy behavior:
[code]

This seems to be due to draper loading all the helpers so it can use the `h` method, and then zeitwerk autoloading everything again (or the other way, I'm not sure).

[2019-10-10 17:30] nisevi commented on #256
Was this fixed? Or we just add?:

[code]

To our decorator classes in order to fix it?

[2019-11-28 16:11] kaikuchn commented on #655
In what way was this issue fixed? I'm still experiencing this problem. The view context leaks between tests since sending a mail registers it with request store and then it does not get cleared..?

[2019-11-28 20:07] akz92 commented on #842
I believe there's still some incompatibilities here as Pagy doesn't paginate properly a decorated collection but works fine if I remove the `decorate` statement.

[2019-12-10 04:38] bekicot opened #867 "dont decorate nil class"
I create a custom load strategy

[code]

It tries to decorate nil class in `lib/draper/query_methods.rb:7`
because
[code]

is returning nil

It should return the value as is

[2019-12-26 23:05] kapso opened #869 "Ruby 2.7.0 support"
Seeing this warning...

`lib/ruby/gems/2.7.0/gems/draper-3.1.0/lib/draper/delegation.rb:10: warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call`

[2019-12-28 15:47] pedrofurtado commented on #869
@olleolleolle @codebycliff 🤝

[2020-01-07 17:02] codebycliff commented on #869
Fixed by: https://github.com/drapergem/draper/pull/870

[2020-01-07 17:02] #869 closed

[2020-01-07 17:03] codebycliff commented on #864
Fixed by: https://github.com/drapergem/draper/pull/868

[2020-01-07 17:03] #864 closed

[2020-01-21 08:55] batamire commented on #648
This just caused my app to crash generating 293k records in db.
#dup should delegate to the underlying AR model and redecorate it.

[2020-02-05 16:47] biow0lf opened #873 "So, 4.0.0 release requires rails 5.0 or 5.2?"
Hi,

In `README.md`:

[code]

But, in `draper.gemspec`:

[code]

So, how it right? README.md or gemspec?

[2020-02-05 18:00] codebycliff commented on #873
Great point. My _intent_ here was to drop official support for Rails < 5.2 as Rails no longer supports versions less than 5.2. However, I didn't want to prevent people from using the gem on older versions of Rails as there are _currently_ no known issues preventing you from doing so. Does that make sense or am I crazy? I lean toward just updating the README to explain that better, but certainly co

[2020-02-13 09:40] saiqulhaq opened #876 "NoMethodError: private method `expire_primary_index' called"
I don't know this issue is caused by Identity cache or Draper gem so I post this issue to both repos

https://github.com/Shopify/identity_cache/blob/98dfa6eb13f9af9773e313ac202e83aab87d5eff/lib/identity_cache/parent_model_expiration.rb#L47

https://github.com/drapergem/draper/blob/4439ed8e84fd2af49f0df45fa21d7daf887b93ce/lib/draper/automatic_delegation.rb#L9

[code]

this was happening when trying

[2020-02-13 16:44] ThaisCorreia commented on #840
Any news on this? I'm having this same problem.

[2020-02-17 13:18] springerigor commented on #876
@saiqulhaq I guess you need to wait for 4.0.1 or downgrade draper temporary. I encountered a similar problem and patch has already been merged: https://github.com/drapergem/draper/pull/875

[2020-02-17 13:34] saiqulhaq commented on #876
ok thanks

[2020-02-17 13:34] #876 closed

[2020-03-27 03:53] benlieb opened #880 "Path Helpers Failing on Circle CI (feature spec)"
I have a feature spec that calls

```visit company.decorate.h.new_company_path```

This works as expected on my local machine but fails in Circle CI with:

[code]

Is there a reason this would fail in Circle CI but not locally? This is the only spec out of about 150 that is failing, so I'm not inclined to think it's a general configuration issue.

For full context here is the whole spec. Is it bec

[2020-04-19 02:15] hamlet commented on #818
I got bitten by the same bug with draper 4.0.1.

Specifically, one need to call decorate on collection members, from a Draper::CollectionDecorator.

It's counter-intuitive and, as said before, contrary to the doc. I would at least update the doc with a warning.

Regards.

[2020-04-23 14:59] samstickland opened #883 "Create unique context for each item in a collection?"
We have an unusual use cache where having this functionality would be useful to us:

[code]

As you can see we've currently monkey patched. Would there be any interest in a PR?

[2020-05-07 01:05] brian-kephart opened #884 "Draper is incompatible with Ruby 3"
Similar to #869. My test suite spat this out:

[code]

The referenced [method in ActionView](https://github.com/rails/rails/blob/d22216f262de92b1b659bc51ed3048447a0b36fd/actionview/lib/action_view/helpers/translation_helper.rb#L118) does indeed take keyword arguments. However, the [Draper method that causes the warning](https://github.com/drapergem/draper/blob/3e7faa4369efd1253a338369b4c8ad8e31ba8

[2020-05-09 10:03] sekrett commented on #256
It worked for me but I believe it got broken again after I did a `bundle update`. So I ended with:

[code]

Then I pass `host` through `locals` and pass it to every url helper. Ugly but it works.

[2020-06-15 19:02] taylorthurlow commented on #655
Yeah, I'm still experiencing this problem as well. @notalex Do you mind reopening this, if possible?

Might be worth tagging @codebycliff, you seem like you are one of the more recently active contributors that could reopen this.

[2020-07-22 15:36] daniel-rikowski opened #886 "Draper changes the behaviour of url_for when using STI models"
I have these models

[code]

I also have a `DocumentDecorator`, but no dedicated decorators for the STI sub classes.

When I call `url_for` using a decorated `InputDocument` instance the wrong path helper is generated/called.

Example:

[code]

[code]

I traced the `url_for` call through the various Rails methods. Eventually `doc.model_name` gets called, which seems to be the cause of this bug:

D

[2020-07-22 18:57] RTJ commented on #842
I have same problem.

[2020-07-29 05:45] graaff commented on #880
Does that feature send out an email before this failure? We are seeing a similar issue and this seems to happen because an email is sent out first. This causes the view context to switch to the Mailer, but it does not appear to switch back to the controller. This means that the view context is now used on a controller context, leading to this error (because Mailers only have fully qualified URLs).

[2020-08-18 15:43] klyonrad opened #887 "Sending problematic method names (open, format) to decorated rails objects send to Kernel (conflicts with ransack)"
I ran into this very surprising issue today. I added the attribute `open` to a model and then to the edit form of that model.

Upon opening that edit form I saw an ArgumentError and the stack trace indicates that somehow the method `open` from `open-uri` got called.

The stack trace also included a [monkey patch](https://github.com/activerecord-hackery/ransack/blob/master/lib/ransack/helpers/form_

[2020-08-26 06:13] kulas115 commented on #884
Seeing the same warning coming from `draper-4.0.1/lib/draper/automatic_delegation.rb:12`.

[2020-08-29 03:40] SaimonL commented on #30
This worked for me
[code]

[2020-09-20 02:42] danielricecodes commented on #401
The easiest thing to do by far is this:

[code]

Sure putting all of this in a big project might be a pain, but this doesn't require a lot of effort to implement in simpler applications.

[2020-09-21 14:29] Ivanov-Anton opened #889 "undefined method `auto_link' for spec with type :decorator"
`Failure/Error: h.auto_link mobile_route, title

     NoMethodError:
       undefined method `auto_link' for #<#<Class:0x00007fe15e2bde90>:0x00007fe1452a44e0>
       Did you mean?  autoload`

at the system level of tests the method is available but at the level of the decorator it is not available

I assume that when the active_admin is loaded, a mix of certain modules occurs that are not included

[2020-09-23 11:43] zeeshangulzar commented on #884
I am getting same warning with following Tech Stack
**Ruby:** 2.7.1
**Rails** 6.0.3.3
**Draper:** 4.0.1
[code]

[2020-09-24 00:10] opsaaaaa opened #890 "Generators don't work."
I created a fresh rails project.
I was following the readme while adding some decorators.

for `rails generate decorator Article` I get
[code]
and basically the same message for `rails generate draper:install`

I created a decorator manually and it seems to work fine. just the generators that don't work.

Is this feature currently broken or have the generators been deprecated or am I missing somet

[2020-10-02 06:51] lxxxvi commented on #890
Hello @opsaaaaa 👋

This _sounds_ like the gem has not been bundled. Make sure the gem is added to `Gemfile` and then run `bundle install`.
The generators _should_ work after that.

[2020-10-03 08:43] denmarkmeralpis opened #891 "Draper::UninferrableDecoratorError (Could not infer a decorator for Document.)"
How can I infer a namespaced decorator? I got an error(which is expected) everytime I decorate `Document` model.

`2.5.3 :010 >  Document.first.decorate.created_at`

[code]
[code]

[2020-10-05 06:08] #889 closed

[2020-10-28 02:59] opsaaaaa commented on #890
@lxxxvi, Thank you but I am not a noob. Yes I remembered to install the gem.

Everything but the generators work. I have 7 decorators that run fine. The gem is installed and working.

[2020-10-28 03:25] opsaaaaa commented on #890
I just created a new rails app with draper install and the generators work.
Apparently they also now work in the initial app I was using.
I don't know what happened, maybe it was something stupid like a `bundle install` @lxxxvi
I'll Close this issue now.

[2020-10-28 03:25] #890 closed

[2020-11-27 04:40] diegous commented on #860
I ran into this same exact problem with draper 3.1.0

[2020-12-04 09:06] pduersteler commented on #891
Did you had a look at #545 ?

[2020-12-05 10:58] pedrohgrandin commented on #891
If you use Spring, try:

`spring stop`

and restart your server/console

[2020-12-27 19:51] brian-kephart commented on #884
Updated the issue title. The deprecations in Ruby 2.7 weren't fixed, so Draper doesn't work with 3.0.

[2021-01-12 14:07] tbuehlmann commented on #884
Addressed this in #894.

[2021-01-21 08:02] olleolleolle opened #898 "Test fails with NameError: uninitialized constant ActionMailer::Base"
In the [test matrix, Ruby 2.5 failed](https://travis-ci.org/github/drapergem/draper/jobs/671282550#L339) (a lone failure in a build otherwise working) with this error:

[code]

Is there some sort of ordering of tests which trips this up? `Randomized with seed 51507`

[2021-01-28 00:59] #884 closed

[2021-01-28 01:01] brian-kephart commented on #884
Fixed in #885

[2021-02-11 15:49] haffla opened #902 "Release new version"
Can we have a new release? Last one is almost a year ago. Right now draper is not working with Ruby 3 when using for example `h.t('some_key', user_name: 'Jack')`. https://github.com/drapergem/draper/commit/9cb42f6e714764c1b196f49754328132bcc7ed32 fixed this.

[2021-02-22 09:56] klyonrad commented on #840
Honestly... isn't this a bit out of scope? What prevents you from accessing the non decorated record directly?

[2021-03-15 14:14] tisba commented on #902
That would indeed be very great. What's necessary to cut a release? Is there something you need help with?

[2021-03-19 13:10] heaven opened #905 "Breaks respond_with in Rails API apps"
The gem includes `ActionView::Rendering` to the `API` controllers, which breaks `respond_to`. I'm not sure whether this is an issue in the Draper gem or the Responders gem should find a more reliable way to handle this than checking for the inclusion of `ActionView::Rendering`. But these two gems don't work together.

## References

* https://github.com/heartcombo/responders/issues/154
* https://g

[2021-03-19 20:18] CaioFML opened #906 "ArgumentError using helpers with Ruby 3"
Hello guys, I upgraded my Ruby for 3.0 from 2.7 and I'm having some troubles.

I have this helper in application_helper.rb:

[code]

And when I call this method h.format_datetime with format like:
[code]

I receive:

![image](https://user-images.githubusercontent.com/37879125/111837611-e87fca80-88d6-11eb-8a10-3c79b0e19101.png)

But it works if I extract to a private method in draper, any thoughts?

[2021-03-23 19:51] brian-kephart commented on #906
Using the current version of Draper from RubyGems results in errors like these. Support for Ruby 3 kwargs was added to git, but has not been released yet. Try installing directly from Github and see if the issue disappears.

[code]

@codebycliff is there anything blocking a new minor/patch release for Ruby 3 support?

[2021-03-23 20:09] CaioFML commented on #906
Yeah, it works, thanks!

Waiting for the release for ruby 3 support! :)

[2021-03-30 01:11] patricklindsay commented on #902
I'm happy to help in order to get a new release which supports Ruby 3. cc @codebycliff

[2021-04-08 15:47] vhazbun opened #907 "Mongo error -> Uninitialized constant ActiveRecord Did you mean? ActiveModel"
### Setup

We do not use ActiveRecord at all.

---

### About the error

The error occurs for some MongoDB documents.

---

### Stack trace

[code]
---

### Possible solution on our end?

The **most evident solution** will be to implement this setup https://github.com/drapergem/draper#decorated-query-methods

However, I still do not understand why this occurs for some mongo documents, and not for

[2021-04-08 15:58] vhazbun commented on #907
Seems like we were decorating a `nil` object. Please disregard.

[2021-04-08 15:58] #907 closed

[2021-04-13 18:10] tisba commented on #906
See https://github.com/drapergem/draper/issues/902

[2021-04-13 18:13] tisba commented on #902
gently-ping @codebycliff

[2021-04-17 19:26] n-rodriguez commented on #891
See: https://github.com/drapergem/draper/pull/899

[2021-05-06 14:52] reedstonefood commented on #902
Hey @codebycliff 👋 if you could find some time to release a new version for the many users of this gem, it would be much appreciated. It's been over a year and there are some useful changes in here that people are eager to see, including Ruby 3 compatability. Thanks!

[2021-05-20 14:05] DSKonstantin commented on #905
Any ideas?

[2021-05-27 16:43] codebycliff commented on #902
I'm sorry everyone, I will get around to this by the end of the weekend. I apologize for the delay – I don't have the same amount of time to dedicate to this gem as I once did. If anyone like to volunteer to help maintain the repository going forward, I would certainly appreciate the help.

[2021-05-27 20:03] codebycliff commented on #902
New version has been released! Sorry again for the delay.

[2021-05-27 20:03] #902 closed

[2021-05-28 16:26] tovodeverett commented on #902
Woohoo!!!  I just wanted to thank everyone who contributed and to thank @codebycliff for getting it out the door.  I've been on both sides of the fence over the years - the hardest thing in the world is finding the energy to support something that is no longer really in your core area of responsibility, but it's also demoralizing to put energy into contributing and to find it stalled or ignored by

[2021-06-18 13:05] Alexey1100 opened #910 "Usage with `Turbo::Broadcastable`"
Looking for a good practice when using decorated objects inside templates broadcasted with [Turbo::Broadcastable](https://github.com/hotwired/turbo-rails/blob/d89e1a0f36373180806ceab6949fb25e0d74264a/app/models/concerns/turbo/broadcastable.rb#L36).

Since the rendering happens in `Turbo::Streams::ActionBroadcastJob`, the objects are getting serialised (#817) and the decoration is lost.

[code]

[2021-06-23 18:21] Alexey1100 commented on #910
This is the quick solution I'm using currently, overriding the `Turbo::Streams::ActionBroadcastJob` job, as pointed by dhh in https://github.com/hotwired/turbo-rails/issues/190

[code]

[2021-07-07 08:18] gucki commented on #655
@codebycliff The bug is still present in the latest version 4.0.2.

[2021-07-22 13:09] bodrovis commented on #842
To overcome this issue, you must perform decoration in two steps:

[code]

However, this won't work:

[code]

[2021-09-15 17:40] asadakbarml commented on #323
In case anyone else gets here, this is still an issue for me on rails 5.2 and haml-rails 2.0.1.

[2021-09-21 11:22] prognostikos commented on #880
@graaff we are also seeing an error when when using Draper after ActionMailer where Draper can no longer find methods defined in helpers. Did you end up with any fix or work-around?

[2021-09-21 11:48] prognostikos commented on #880
For anyone else running into this a workaround is to included the missing helper(s) in your ApplicationMailer so they're available to Draper, etc. even after ActionMailer switches the view context.

[2022-01-23 08:25] KtKeaton opened #913 "undefined method `attributes' for nil:NilClass"
solved

[2022-03-02 12:44] mishina2228 commented on #906
@CaioFML v4.0.2 has been released, so I think we can close this issue.
cc @codebycliff

[2022-03-31 19:29] jcat4 opened #917 "Automatically use decorated associations in delegate methods"
_(sorry in advance if I missed an issue or something in the docs)_

Let's say I have two model classes, `Book` and `Author`.
`Book` implements an `author_name` method that delegates `name` to its `author`.

[code]

My goal is to achieve something like this

[code]

I'd **love** to be able to do something like this

[code]

However, it does **not** work that way. A decorated `book` still sends `nam

[2022-04-19 03:14] kenzo-tanaka opened #918 "Unexpected behavior when `frozen?` method is defined in model"
Hi👋
First of all thank you for the very helpful gem!
I found an unexpected behavior while using draper and would like to report it.
When the `frozen?` method is defined in the model, the decorated instance returns false.

The following is a sample code.

[code]

[code]

[code]

https://github.com/kenzo-tanaka/tmp_draper

I'm sorry if I misunderstood something about this behaviour🙏

[2022-04-19 09:57] itzbernoulli commented on #918
Hi @kenzo-tanaka seems this is a ruby thing rather than a draper issue. If you call frozen? on the object without decorating it still returns false as long as you didn't freeze the object.

[2022-05-17 01:58] james-em opened #919 "Scaffold generator: Invalid path when using --model-name=Record"
Hi,

I'm working on a project where Controllers and routes are namespaced but models are not.

This is how my scaffold are generated:

[code]

When specifying --model-name=Client, it would be great if the decorator wasn't namespaced and also not in a namespace folder, just like the model.

An easy fix would be editing this file: https://github.com/drapergem/draper/blob/master/lib/generators/rails/

[2022-09-08 15:21] #917 closed

[2022-11-30 00:17] Idletime-studios opened #921 "Draper still actively maintained?"
Hello,

I was wondering if the draper gem is still actively maintained, it looks like there was an update 12 months ago.

So not sure.